.cabeza
{
    background-color: chocolate;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    position: absolute;
    top: 50px;
    left: 200px;
}
.oreja-izq
{
    background-color: chocolate;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.oreja-der
{
    background-color: chocolate;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    position: absolute;
    top: 0px;
    left: 200px;
}
.ojo-izq
{
    background-color: rgb(0, 174, 255);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position: absolute;
    top: 70px;
    left: 50px;
}
.ojo-der
{
    background-color: rgb(0, 174, 255);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position: absolute;
    top: 70px;
    left: 150px;
}
.pupila
{
    background-color: rgb(0, 0, 0);
    width: 35px;
    height: 35px;
    border-radius: 100%;
    position: relative;
    top: 10%;
    left: 10%;
}
.nariz
{
    background-color: rgb(0, 0, 0);
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 100%;
    top: 100px;
    left: 100px;
}
.boca
{
    background-color: rgb(189, 22, 22);
    width: 150px;
    height: 50px;
    border-radius: 100%;
    border-color: black;
    border-width: 50%;
    position: absolute;
    top: 150px;
    left: 50px;
}
.cuerpo
{
    background-color: chocolate;
    width: 350px;
    height: 350px;
    border-radius: 100%;
    position: absolute;
    top: 290px;
    left: 150px;
}
.mano-izq
{
    background-color: rgb(216, 136, 79);
    width: 150px;
    height: 70px;
    border-radius: 100%;
    position: absolute;
    top: 70px;
    left: 0px;
}
.mano-der
{
    background-color: rgb(216, 136, 79);
    width: 150px;
    height: 70px;
    border-radius: 100%;
    position: absolute;
    top: 70px;
    left: 210px;
}
.pie-izq
{
    background-color: rgb(216, 136, 79);
    width: 150px;
    height: 85px;
    border-radius: 100%;
    position: absolute;
    top: 280px;
    left: 210px;
}
.pie-der
{
    background-color: rgb(216, 136, 79);
    width: 150px;
    height: 85px;
    border-radius: 100%;
    position: absolute;
    top: 280px;
    left: 0px;
}
.estomago
{
    background-color: rgb(236, 167, 117);
    width: 200px;
    height: 250px;
    border-radius: 100%;
    position: absolute;
    top: 70px;
    left: 80px;
}